<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JoeToep</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="underscore.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

    <script src="player.js"></script>
    <script src="client.js"></script>
    <script src="config.js"></script>

    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="col center header">
      <a href="/">
        <h1>Joe<span>Toep</span></h1>
      </a>
    </div>

    <div id="container"></div>

    <script id="room-selector-template" type="text/template">
      <div class="col center">
        <form id="room-form">
          <span>Room: </span>
          <input id="room-input">
          <input type="submit">
        </form>
      </div>
    </script>

    <script id="type-selector-template" type="text/template">
	  <div class="container-fluid">
        <div id="type-remote" class="col">
          Remote
        </div>
        <div id="type-player" class="col">
          Player
        </div>
	  </div>
    </script>

    <script id="in-room-template" type="text/template">
      <div class="col col-md-50 col-sm-100">
        <form id="search-form">
          <input id="search-input">
          <input type="submit">
        </form>

        <div id="search-results"></div>
      </div>

      <div class="col col-md-50 col-sm-100">

        <% if (isPlayer) { %>
          <div id="player-container">
            <div id="player"></div>
          </div>
        <% } %>

        <div id="controls" class="cf container-fluid">
          <div class="col col-md-inline col-sm-100" id="control-pauseplay"><span class="hotkey">P</span>ause/<span class="hotkey">P</span>lay</div>
          <div class="col col-md-inline col-sm-100" id="control-skip"><span class="hotkey">S</span>kip</div>
          <% if (isPlayer) { %>
            <div class="col col-md-inline col-sm-100" id="control-fullscreen"><span class="hotkey">F</span>ullscreen</div>
          <% } %>
        </div>

        <div id="playlist"></div>
    </script>

    <div id="footer" class="center">
      JoeToep by <a target="_blank" href="http://sanderbakkum.nl">Sander Bakkum</a>.<br>
      Source at <a target="_blank" href="https://github.com/stokworks/joetoep">Github</a>.
	</div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81132935-2', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
