<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JoeToep</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="swfobject.js"></script>
    <script src="underscore.js"></script>
    <script src="socket.io/socket.io.js"></script>

    <script src="player.js"></script>
    <script src="client.js"></script>
    <script src="config.js"></script>

    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="container"></div>

    <script id="room-selector-template" type="text/template">
      <h1><a href="/">Joe<span>Toep</span></a></h1>

      <div id="room-selector">
        <form id="room-form">
          <span>Room: </span>
          <input id="room-input">
          <input type="submit">
        </form>
      </div>
    </script>

    <script id="type-selector-template" type="text/template">
      <h1><a href="/">Joe<span>Toep</span></a></h1>

      <div id="type-selector">
        <div id="type-remote">
          Remote
        </div>
        <div id="type-player">
          Player
        </div>
      </div>
    </script>

    <script id="in-room-template" type="text/template">
      <h1><a href="/">Joe<span>Toep</span></a></h1>
      
      <div id="collumn-left">
        <form id="search-form">
          <input id="search-input">
          <input type="submit">
        </form>

        <div id="search-results"></div>
      </div>

      <div id="collumn-right">

        <% if (isPlayer) { %>
          <div id="player-container">
            <div id="player"></div>
          </div>
        <% } %>

        <div id="controls" class="cf">
          <div id="control-pauseplay"><span class="hotkey">P</span>ause/<span class="hotkey">P</span>lay</div>
          <div id="control-skip"><span class="hotkey">S</span>kip</div>
          <% if (isPlayer) { %>
            <div id="control-fullscreen"><span class="hotkey">F</span>ullscreen</div>
          <% } %>
        </div>

        <div id="playlist"></div>
      </div>
    </script>
  </body>
</html>