#container {
	width: 800px;
	margin: 0 auto;
	font-family: sans-serif;
}

	#container h1 {
		text-align: center;
		font-size: 400%;
		margin: 30px 0px 20px 0px;
	}

		#container h1 a {
			text-decoration: none;
			color: #000;
		}

			#container h1 a span {
				background: red;
				color: white;
				border-top-left-radius: 15px 50%;
				border-top-right-radius: 15px 50%;
				border-bottom-left-radius: 15px 50%;
				border-bottom-right-radius: 15px 50%;
				margin-left: 3px;
				padding: 0px 5px;
			}

	#room-selector {
		width: 300px;
		margin: 0 auto;
		text-align: center;
	}

		#room-form input[type="submit"] {
			display: none;
		}

	#type-selector {
		width: 300px;
		margin: 0 auto;
	}

		#type-remote,
		#type-player {
			        box-sizing: border-box;
			   -moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;

			float: left;
			width: 130px;
			height: 130px;
			margin: 10px;
			border: 5px solid #000;

			line-height: 116px;
			background: #eee;
			text-align: center;
			cursor: pointer;
			font-size: 140%;
			font-weight: bold;
		}

		#type-remote:hover,
		#type-player:hover {
			background: #f33;
			color: white;
		}

	#collumn-left,
	#collumn-right {
		        box-sizing: border-box;
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

		width: 400px;
		padding: 15px 15px 0px 15px;
		float: left;
		min-height: 500px;
	}

	#collumn-left { }

		#search-input {
			        box-sizing: border-box;
			   -moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;

			width: 370px;
			padding: 5px;
			font-size: 90%;
			margin: 0;
		}

		#search-form input[type="submit"] {
			display: none;
		}

		#search-results {
			margin-top: 10px;
		}

		#playlist,
		#search-results {
			font-size: 80%;
		}

		#playlist div,
		#search-results div {
			border: 1px solid #ccc;
			background: #eee;
			margin-bottom: 5px;
			padding-right: 3px;
		}

		#search-results div:hover {
			cursor: pointer;
			background: #f33;
			color: #fff;
			border-color: #000;
		}

		#playlist div img,
		#search-results div img {
			float: left;
			width: 60px;
			margin-right: 3px;
			border-right: 1px solid #ccc;
		}

		#search-results div:hover img {
			border-color: #000;
		}

		#collumn-right {}

		#player-container {
			background: #000;
			height: 226px;
		}

		#player-container:-webkit-full-screen  {
			width: 100%;
			height: 100%;
		}

		#controls {
			width: 370px;
			margin: 0 auto;
		}

			#controls div {
				        box-sizing: border-box;
				   -moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;

				float: left;
				background: #eee;
				border: 1px solid #ccc;
				padding: 6px;
				font-size: 80%;
				text-align: center;
			}

			#controls div .hotkey {
				text-decoration: underline;
			}

			.player #controls div {
				margin: 5px 5px 5px 0px;
				width: 120px;
			}

			.client #controls div {
				margin: 0px 10px 10px 0px;
				width: 180px;
			}

			#controls div:last-child {
				margin-right: 0;
			}

			#controls div:hover {
				background: #f33;
				color: #fff;
				cursor: pointer;
				border-color: #000;
			}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}